@font-face {
    font-family: "SF-Pro-Display";
    font-weight: thin;
    src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
  }
  
@font-face {
  font-family: "SF-Pro-Display";
  font-weight: medium;
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: regular;
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: bold;
  src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}

/* Variables css */
:root {
  --dark-blue: #0e49a2;
  --dark-lighter-blue: #0b53c8;
  --lighter-blue: #0b61ee;
  --light-blue: #1e64e7;
  --secondary: #eff3fa;
  --white: #fff;
  --black: #000;
  --text-color: #2e3a59;
  --border: #a5c5fe;
  --cta-color: #d2e2ff;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: regular;

  color: var(--text-color);
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: thin;
  font-size: 3rem;
  color: var(--text-color);
}

h2 {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: regular;
  font-size: 2.5rem;
  color: var(--text-color);
}

h3 {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: regular;
  font-size: 2rem;
  color: var(--light-blue);
}

h4 {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: regular;
  font-size: 1.625rem;
  color: var(--text-color);
}

p {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: regular;
  font-size: 1rem;
  color: var(--text-color);
}

.margin-top-large {
  margin-top: 2em;
}

.margin-top {
  margin-top: 0.8em;
}

.margin-top-small {
  margin-top: 0.4em;
}

.margin-bottom {
  margin-bottom: 0.4em;
}

.margin-left {
  display: block;
  margin-left: 0.5em;
  width: 28px; 
  height: 14px;
  fill: var(--white);
}

span {
  color: var(--light-blue);
}

main {
  padding-top: 6em;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

.cta-blue> a {
  color: var(--white);
  background-color: var(--light-blue);
  padding: 0.5em 1.5em;
  border-radius: 0.25em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-dark-blue {
  color: var(--white);
  background-color: var(--dark-lighter-blue);
  padding: 0.5em 1.5em;
  border-radius: 0.25em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-submit {
  background-color: var(--light-blue);
  padding: 0.5em 1.5em;
  width: 3.5em;
  border-radius: 0.25em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cta-submit>a {
  color: var(--white);
}

.cta-margin {
  margin-top: 1em;
}

.svg-small {
  height: 1.8em;
  width: 1.8em;
}

.margin-gray {
  margin-right: 0.8em;
  fill: var(--text-color);
}

.margin-blue {
  margin-right: 0.8em;
  fill: var(--light-blue);
}

.active {
  color: var(--light-blue);
}

.gray-header {
  color: var(--text-color);
}

.svg-big {
  margin: 0 auto 0.5em auto;
  display: block;
  height: 5em;
  fill: var(--light-blue);
}

.hero-information, .functions, .pages-information, 
.information-information, .instruction,
.privacy, .privacy-gegevens,
.about-us-information, .partijen
.contact-inhoud {
  padding: 4em 1em;
}

/* HEADER */
.logo {
  position:absolute;
  display: block;
  width: 15em;
  margin: 2em 0 2em 1em;
  opacity: 1;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

header a {
  font-size: 1.1em;
  color: var(--text-color);
}

.hover-color:hover, .hover-color:hover path {
  color: var(--light-blue);
  fill: var(--light-blue);
}

/* hambuger menu */
.ham {
  margin-left: 80%;
  margin-top: 1.8em;
  margin-bottom: 1em;
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.word-menu {
  padding-left: 2em;
  padding-top: 0.6em;
  opacity:1;
}

.ham-line {
	position: absolute;
	width: 22px;
	height: 0.2em;
	background-color: var(--text-color);
}
.ham-line1 {
	top: 11px;
}
.ham-line2 {
	top: 18px;
}
.ham-line3 {
	top: 25px;
}

.primary-header {
  background-color: var(--white);
  position: fixed;
  height: 6em;
}

.primary-navigation {
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  opacity:0;
}

.clicked .ham-line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham-line2 {
	width: 0px;
}
.clicked .ham-line3 {
	transform: rotate(-45deg);
	top: 20px;
}

.clicked .word-menu {
  opacity: 0;
}

.clicked .primary-navigation {
  display: flex;
  flex-wrap: wrap;
  opacity:1;
}

.primary-navigation>li {
  flex: 50%;
  padding-left: 1em;
  margin-bottom: 0.8em;
}

.primary-navigation>select {
  flex: 30%;
  padding-left: 0.5em;
  padding-top: 0.2em;
  margin-top: 0.35em;
}

select {
  display: block;
  position: relative;

  font-family:  "SF-Pro-Display", sans-serif;
  font-size: 1.1em;
  color: var(--text-color);
  text-align: left;

  cursor: pointer;
  border: 0;
  border-left: 2.3px solid var(--text-color);
  height: 2em;
  outline: 0;
  appearance: none;
}

option:checked { 
  color: var(--light-blue);
}

.line-vertical {
  border: 0;
  border-right: 0;
  height: 0;
}

.lang {
  margin: 0;
  padding: 0;
}

/* HOMEPAGE */

/* Hero */

.hero {
  background-color: var(--secondary);
}

.image-hero {
  display: none;
}

/* Functions */
.functions-easy, .functions-fast {
  padding: 3em 3em;
  text-align: center;
  background-color: var(--dark-lighter-blue);
  border-radius: 1em;
}

.functions-easy {
  margin-bottom: 3em;
}

.functions-easy>svg, .functions-easy>h3, .functions-easy>p, .functions-fast>svg, .functions-fast>h3, .functions-fast>p {
  fill: var(--white);
  color: var(--white);
}

/* Pagina informatie */

.information-page, .privacy-page, 
.about-us-page, .contact-page {
  padding: 3em 3em;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 1em;
}

.information-page, .privacy-page, 
.about-us-page {
  margin-bottom: 3em;
}

/* INFORMATIONPAGE */

/* Information */

.information {
  background-color: var(--secondary);
}

.information-image {
  display: none;
}

.instruction-first, .instruction-second,
.instruction-third, .instruction-fourth {
  padding: 3em 3em;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 1em;
}

.instruction-first, .instruction-second,
.instruction-third {
  margin-bottom: 3em;
}

.image-instruction-first {
  margin: 0 auto;
  width: 12.5em;
  display: block;
}

/* PRIVACYPAGE */

.privacy {
  background-color: var(--secondary);
}

.privacy-image {
  display: none;
}

.gegevens, .vragen {
  padding: 3em 3em;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 1em;
}

.gegevens {
  margin-bottom: 3em;
}

/* ABOUTUSPAGE */

.about-us {
  background-color: var(--secondary);
}

.about-us-image {
  display: none;
}

.streeklab, .centre {
  padding: 3em 3em;
  text-align: left;
}

.streeklab {
  margin-bottom: 3em;
}

.logo-streeklab {
  display: block;
  margin: 0 auto 3em auto;
  width: 50%;
}

.centre {
  margin-bottom: 3em;
}

.centre-image {
  width: 100%;
  margin-bottom: 3em;
}

/* CONTACTPAGE */

.contact {
  padding: 4em 1em;
  background-color: var(--secondary);
}

.contact-gegevens {
  padding: 3em 3em;
  background-color: var(--light-blue);
  border-radius: 1em 1em 0 0;
}

.selftest-image {
  margin-top: 3em;
  width: 58%;
}

.contact-gegevens>h2, .contact-gegevens>p,
.flex-phone-number>p, .flex-email>p, .flex-adress>p {
  color: var(--white);
}

form {
  padding: 3em 3em;
  background-color: var(--secondary);
  border-radius: 0 0 1em 1em;
  display:flex;
  flex-direction:column;
}

input {
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
  margin-top: 0.4em;
  border: 0.125em solid var(--light-blue);
  border-radius: 0.25em;
}

input:valid {
  border-color:green;
}

input:invalid {
  border-color:var(--light-blue);
}

label {
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: regular;
  font-size: 1rem;
  color: var(--text-color);
}

textarea {
  padding: 0.5em 0.5em;
  margin-top: 0.4em;
  border: 0.125em solid var(--light-blue);
}

textarea:valid {
  border-color:green;
}

textarea:invalid {
  border-color:var(--light-blue);
}

/* FOOTER */

footer {
  padding: 4em 5em;

  text-align: center;

  position: relative;

  background-color: var(--light-blue);
}

.footer-menu, .footer-socials {
  padding-top: 2em;
}

footer a,
footer h2,
footer h3,
footer p,
footer .menu {
  text-decoration: none;
  color: var(--white);
}

.flex-phone-number, .flex-email, .flex-adress {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.flex-phone-number, .flex-email {
  margin-bottom: 1em;
}

.line-horizontal {
  margin: 1em auto;
  border: 0px;
  border-bottom: 2.3px solid var(--white);
  width: 10em;
}

.footer-icoon {
  height: 1.5em;
  fill: var(--white);
}

.white {
  fill: var(--white);
}

/* IPHONE 5 */

@media (max-width: 20em) {
.primary-navigation>li {
  flex: none;
  padding-left: 1.4em;
  margin-bottom: 0.8em;
}

.primary-navigation>select {
  flex: none;
  padding-left: 0.5em;
  margin-left: 1em;
  padding-top: 0.2em;
  margin-top: 0.35em;
}

.margin-gray {
  margin-right: 0.2em;
  fill: var(--text-color);
}
}

/* IPAD */

@media (min-width: 48em) {
  .logo {
    display: block;
    width: 15em;
    margin: 2em 0 2em 4em;
  }


  .primary-navigation>li {
    flex: 50%;
    padding-left: 4em;
    margin-bottom: 0.8em;
  }
}

/* DESKTOP */

@media (min-width: 70em) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex {
    display: flex;
  }

  .hero-information, .functions, .pages-information, 
  .information-information, .instruction,
  .privacy, .privacy-gegevens,
  .about-us-information, .partijen,
  .contact, .contact-inhoud {
    padding: 4em 5em;
  }

  /* HEADER */

  .logo {
    margin: 0;
    position: relative;
  }

  .svg-small {
    height: 1.25em;
    width: auto;
    margin-right: 0;
  }

  .primary-header {
    position: fixed;
    padding: 0 5em;

    align-items: center;
    justify-content: space-between;
    
    height: 6em;
    background-color: var(--white);
    width: 100%;
    z-index: 2;
  }
  
  .primary-navigation {
    justify-content: center;
    align-items: center;

    gap: 1.5em;
    list-style: none;
    opacity: 1;
  }

  .ham {
    display: none;
  }

  .line-vertical {
    border: 0;
    border-right: 2.3px solid var(--text-color);
    height: 3em;
  }

  select {
    padding: 0.4em 0;
    border: 0;
    outline: 0;
  }

  .primary-navigation {
    display: flex;
    flex-wrap: nowrap;
  }

  .primary-navigation>li, select {
    flex: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  /* HOMEPAGE */

  /* Hero */
  .hero {
    background-color: var(--secondary);
  }

  .hero-information {
    position: absolute;
    width: 70%;
    z-index: 1;
  }

  .image-hero {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 50%;
    z-index: 0;
  }

  .p-large {
    font-size: 1.5rem;
  }

  /* Functions */
  
  .functions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .functions-easy {
    margin-right: 3em;
    margin-bottom: 0;
    grid-row: 2;
  }

  .functions-fast {
    grid-row: 2;
  }

  /* Pages information*/

  .pages-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .information-page {
    margin-right: 3em;
    grid-row: 2;
  }

  .privacy-page {
    grid-row: 2;
  }

  .about-us-page {
    margin-top: 3em;
    margin-right: 3em;
    grid-row: 3;
  }

  .contact-page {
    margin-top: 3em;
    grid-row: 3;
  }

  .pages-information>div {
    margin-bottom: 0;
  }

  /* INFORMATIONPAGE */

  .information {
    background-color: var(--secondary);
  }

  .information-information {
    position: absolute;
    z-index: 1;
  }

  .information-image {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    opacity: 50%;
    z-index: 0;
  }

  .instruction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .instruction>div {
    margin-bottom: 0;
  }

  .instruction-first {
    margin-right: 3em;
    grid-row: 2;
  }

  .instruction-second {
    grid-row: 2;
  }

  .instruction-third {
    margin-top: 3em;
    margin-right: 3em;
    grid-row: 3;
  }

  .instruction-fourth {
    margin-top: 3em;
    grid-row: 3;
  }

  .image-instruction-first {
    margin: 0 auto;
    width: 25em;
    display: block;
  }

  /* PRIVACYPAGE */

  .privacy {
    display: grid;
    background-color: var(--secondary);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .privacy-information {
    grid-column: 1/2;
  }

  .privacy-image {
    display: block;
    grid-column: 2/4;
    width: 50%;
    opacity: 50%;
    margin: 0 auto;
  }

  .privacy-gegevens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .gegevens {
    margin-right: 3em;
    margin-bottom: 0;
    grid-row: 2;
  }

  .vragen {
    grid-row: 2;
  }

  /* ABOUTUSPAGE */

  .about-us {
    background-color: var(--secondary);
  }

  .about-us-information {
    width: 55%;
    position: absolute;
    z-index: 1;
  }

  .about-us-image {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    opacity: 50%;
    z-index: 0;
  }

  .partijen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .streeklab {
    margin-right: 3em;
    margin-bottom: 3em;
    grid-row: 2;
  }

  .logo-streeklab {
    margin: 0 auto;
    grid-column: 2/3;
    width: 40%;
    grid-row: 2;
  }

  .centre {
    margin-right: 3em;
    grid-row: 3;
  }

  .centre-image {
    margin-bottom: 0;
    width: 100%;
    grid-row: 3;
  }

  /* CONTACTPAGE */

  .contact-inhoud {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .contact-gegevens {
    grid-column: 1/2;
    grid-row: 1;
    border-radius: 1em 0 0 1em;
  }

  form {
    border-radius: 0 1em 1em 0;
    grid-column: 2/3;
    grid-row: 1;
  }

  /* FOOTER */

  footer {
    padding: 3em 1em;

    text-align: left;
  
    background-color: var(--light-blue);
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 100vw;
    position: relative;
  bottom: 0;
  }

.footer-menu, .footer-socials {
  padding-top: 0;
}

  .footer-contact-information, .footer-socials, .footer-menu {
    margin-left: 15%;
  }

  .line-horizontal {
    margin: 1em 0;
    border: 0px;
    border-bottom: 2.3px solid var(--white);
    width: 12em;
  }
}